.alert {
    /* caja */
    height: 1em;
    border-radius: 8px;
    padding: 1em;
    /* posicion */
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1em;
    /* estilo */
    color: white;
}

.alert__message {
    margin: 0;
}

.alert--exito {
    background-color: green;
}

.alert--error {
    background-color: red;
}